.logo {
  font-size: 20px;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
}



.menu_icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .logo {
    display: flex;
    position: absolute;
    top: 25px;
    left: 2px;
    width: auto;
  }
  .navbar_ul {
    display: none;
  }
  .navbar_mobile_css {
    position: absolute;
    display: block;
    background-color: #242424;
    list-style: none;
    left: 0;
    top: 75px;
    width: 100%;
    /* animation: slider 1s 1 forward ease-in; */
    animation: navAnimation 600ms ease forwards;
    box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: top;
}

.nav__links li:nth-child(2){
    animation-delay: 200ms;
}
.nav__links li:nth-child(3){
    animation-delay: 400ms;
}
.nav__links li:nth-child(4){
    animation-delay: 600ms;
}
.nav__links li:nth-child(5){
    animation-delay: 800ms;
}
.nav__links li:nth-child(6){
    animation-delay: 1s;
}
.nav__links li:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes navAnimation {
    to{
        transform: rotateX(0);
        opacity: 1;
    }
    
}
 
  .menu_icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: all 0.5s ease-in-out;
  }
}