.navbar {
  display: flex;
  padding: 20px 25px;
  margin-bottom: 10px;
  opacity: 0.8;
  background-color: #1c1717;;



}

html {
  scroll-behavior: smooth;
}

.navlist {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: right;
  margin: 0px 0px;
}

.navlist li {
  list-style: none;
  padding: 5px 15px;

  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.navlist li a {
  text-decoration: none;


  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: white;

}


.Search[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 40px;

}

button.search {
  float: left;
  width: 180%;
  padding: 10px;
  background-color: red;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: #2196F3;
  background-image: none;
 
}

.lk a {
  background-color: red;
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  margin-top: 2px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
  padding-left: 12px;
  height: 35px;
}

.lk a:hover {
  transform: scale(1.1);

}

form.example button:hover {
  background: #0b7dda;
}


.navbars {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbars a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 2px 2px;
  height: 20px;
  margin: 12px 5px;
}
.logo1{
  width: 95px;
  
}
.logo1 img{
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 500px) {


.carousel-item img{
  height: 190px;
}
}
@media only screen and (max-width: 1100px) {
  
  .navlist {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;

}

.navbar {
    flex-direction: column;
    transition: all 0.9s ease-out;
    height: auto;
    margin-bottom: 10px;
}

.logo {

    display: flex;
    justify-content: center;
    width: auto;
    
    
    
  }
  .logo1{
  margin-top: 20px;
  margin-bottom: 27px;
}
.Search[type="text"]{
  width: auto;
  margin-top: 20px;

}
.oo{
  display: flex;
  justify-content: center;
  width: auto;
}

.loginright {
    flex-direction: column;
    display: flex;
    text-align: center;
}

.navlist {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;


}
.carousel{
display: flex;
justify-content: center;
width: auto;
height: auto;
}
.heading b{
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 10px;
}
.headings{
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 10px;
}
.photo img{
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  height: 320px;
}

.photo{
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: auto;}
.main2{
  display: flex;
  justify-content: center;
  width: auto;
  
}

.iconbar{
  display: flex;
  justify-content: center;
  width: auto;
  flex-direction: column;
}
#about{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainicons {
  
  display: flex;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(180deg, white , #FA8072);
    
    
  }
  .main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 20px;
    
  }
.video{
  height: auto;
}
.photo2 img {
  height: auto;
  width: 100%;
  background-size: cover;
}
.Icons{
  padding: 35px 27px;
  width: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 105px;
  height: 164px;
margin: 1px 30px;


}
.Icons3{
  padding: 35px 27px;
width: 150px;
display: grid;
justify-content: center;
align-items: center;
border: 0px solid black;
border-radius: 105px;
height: 164px;
margin: 1px 30px;


}
.Icons svg {
  width: 50%;
  margin-left: 18px;
}
.first {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.containerline {
  width: 97%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.mainline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icons h1 {
  margin-bottom: 50px;
}

.icons{
  display: grid;
  justify-content: center;
  width: auto;
}

.footer {
  display: flex;
  padding: 0 10px;
  width: 100%;
  flex-direction: column;
}

.navfooterlist ul{
  font-size: 12px;
  
}
.get{
  font-size: 16px;
}

}


