.main {
    background-image: linear-gradient(180deg, white, black);
}

.main h1 {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 40px;
}

.video {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, white , black);
    display: flex;
    width: 100%;
    height: 600px;
}