.bottom {
  background-image:  linear-gradient(180deg, white , red);
  margin-top: 120px;
}
.footer{
display: flex;
padding: 0 10px;
width: 98%;
flex-direction: column;
}
a {
  color: inherit;
  text-decoration: inherit;
}
menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.get{
font-size: 20px;
}
.navfooterlist li:hover{
color: white;
}
.navfooterlist div:hover{
color: white;
}
.text-center {
  text-align: center;
  padding: 22px;
  font-size: 40px;
  color: black;
}
.navfooterlist{
 display: table-cell;
  padding: 6px 70px;
  width: 20%; 
  
}
.navfooterlist ul a{
  color: inherit;
  text-decoration: inherit;

  
}
.navfooter{
  margin-bottom: 80px;
  padding: 10px 100px;
}
@media only screen and (max-width: 1100px) {

  .navfooterlist {
    display: table-cell;
    padding: 1px 4px;
    width: auto;
  }
  .navfooter {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
.get{
  padding-bottom: 15px;
}
}
@media only screen and (max-width: 600px) {

  .navfooterlist {
    display: table-cell;
    padding: 1px 4px;
    width: auto;
  }
  .navfooter {
    margin-bottom: 80px;
    padding: 10px 1px;
  }
.get{
  padding-bottom: 15px;
}
}